@use './variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @mixin green-button {
    background-color: $jade;
    color: $prussian-blue;
    border: 1px solid $jade;
    padding: 1rem;
    cursor: pointer;
    border-radius: 20px;
  }