@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    background-color: $prussian-blue;
    color: $azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    &__logo {
        height: 5vh;
        margin-left: 1rem;
    }

    &__links {
        display: flex;

        &--button {
            background-color: transparent;
            color: $azure;
            border: none;
            padding: .5rem 1rem;
        }

        &--border {
            border: 1px solid $jade;
            border-radius: 20px;
            transition: background-color 0.5s;

            &:hover {
                background-color: $jade;
            }
        }
    }
}